html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

body{
    background-color: #f7f7f7;
}

.conteiner{
    padding: 0.5rem;
    margin: 0.5rem;
}

.btn{
    margin-top: 15px;
    border:none;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
    cursor: pointer;
}

.btn:hover{
    box-shadow: none;
    color:#4385f0;
    background-color: #f7f7f7;
}